<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Lista książek</title>   
	<link rel="stylesheet" th:href="@{/static/application.css}" href="/static/application.css" />
</head>
<body>
	<table>
   		<div th:each="book : ${books2}">
  		 <tr>
   			<td><p th:text="${book.id}">id</p></td>
   			
   			<td>
  			 	<p th:text="${book.title}">title</p>
   			</td>
   			<td>
   				<p th:text="${book.authors}">authors</p>
   			</td>
   			<td>
   				   <a  th:href="@{|/deleteId/${book.id}|}"><span>Delete</span></a>
   			</td>
   			
   			</tr>
   		</div>
  </table> 	
</body>
</html>